In [1]:
# Use below line in terminal to set up SSH connection, rather than using SSH via Python

# ALternatively, if you can make it work in Python, go ahead.

# connect to the database through an ssh tunnel

#SSH tunnelling Python code below, which wouldn't work for me (GA)
# If not tunnelling via command line, this would go befoe the 'with psycopg.connect' bit


'''
import sshtunnel

with sshtunnel.open_tunnel(
    (config["ssh"]["host"], int(config["ssh"]["port"])),
    ssh_username=config["ssh"]["user"],
    ssh_password=config["ssh"]["pass"], 
    remote_bind_address=("127.0.0.1", 5432),
) as tunnel:
    
'''

#ssh -L 15432:localhost:5432 -p 60684 dsda@ml-lab-159578ae-dd8f-485c-a42c-959a9302b5e7.uksouth.cloudapp.azure.com

# If SSH successful, below code should work.

import configparser

config = configparser.ConfigParser()
config.read("remote_config.ini")

import psycopg

with psycopg.connect(

    #f"postgresql://postgres:oT8NiJ3R@localhost:15432"
    
    f"postgresql://{config['db']['user']}:{config['db']['password']}@{config['db']['host']}:{config['db']['port']}"

) as conn:

    # open a cursor to perform database operations

    with conn.cursor() as cur:

        # execute a command to get a single row of data

        cur.execute("SELECT version()")
        
        result = cur.fetchone()
        
        print(result)

        cur.close()

('PostgreSQL 15.3 (Debian 15.3-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit',)

In [2]:
from database_library import get_config, test_connection, query_db, table_from_df

In [3]:
test_connection()

Connecting to the PostgreSQL database...
PostgreSQL database version:
('PostgreSQL 15.3 (Debian 15.3-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit',)
Database connection closed.

In [4]:
# This was used to create the database, unlikely to be needed again, unless we need to completely start over.

#query_db(query = 'CREATE DATABASE house_prices')

In [7]:
from pandas import util

#test_df = util.testing.makeDataFrame()

C:\Users\gatkinson\Anaconda3\lib\site-packages\pandas\util\__init__.py:8: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

In [8]:
table_from_df(input_df = test_df, table_name = 'test')

Connecting to the PostgreSQL database...
Table test created
Database connection closed.

In [14]:
test_output_df = query_db(query = 'SELECT * FROM test', table_name = 'test', output_format = 'df')

Connecting to the PostgreSQL database...
Query executed.
Database connection closed.

In [15]:
test_output_df

           A         B         C         D
0   0.435253  0.222275  0.392137  2.758355
1   0.233432 -0.201388 -1.508195 -0.359427
2   0.651700  1.344834 -0.463932 -0.383451
3  -1.564074 -0.500021  0.640632  0.122748
4   0.336166  0.354834 -0.561566 -0.892617
5   1.007018 -0.729650  0.833836 -1.665490
6  -0.351608  0.173112  0.614544  0.081027
7   1.680237  1.184517  2.937463 -0.015722
8   0.167654 -0.100382 -1.130774 -1.709065
9  -1.395759  0.234258  0.061428 -0.121599
10  0.083851 -1.617537  1.892501  0.140900
11  1.184389  1.871400 -0.996122  1.077553
12 -1.221723 -1.044294  0.787840  0.254241
13  0.707474 -0.966539 -0.235746 -0.531858
14 -0.565422 -0.295846  0.894138  0.551117
15 -1.404974 -1.203501 -0.048562  0.325678
16 -0.482657 -1.071382 -1.771021 -0.038813
17  0.469636  2.318471  1.202745  0.553147
18  0.579438 -0.384417 -0.348895  0.830523
19  0.828255 -1.280629  0.896456  1.254983
20 -1.082247  1.410117 -0.274524  1.546223
21  0.297445 -0.568959  0.392915 -2.715134
22  1.680063 -0.829105 -1.225245  1.243664
23 -2.323980  0.629807 -0.302257  1.369822
24 -0.818540  1.633218  0.341829  0.684921
25 -0.836674  0.051786  1.936130 -0.056352
26  0.492507  0.169861  0.168506  0.577843
27  0.673892 -1.055776 -0.713148  0.607526
28  0.421882 -0.010662 -3.888562  0.129202
29 -1.483484  1.518591  0.519504 -0.350997