# Investigating the data for House Price Predictions

## Importing the data

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_colwidth', None)

In [3]:
pickle_file = r'C:\Users\psydp2\OneDrive - The University of Nottingham\Year 2\Group Project\GitHub\uon-dsda-22-y2-group-project-team-1\investigations\all_houses_for_sale.pickle'

In [4]:
pickle_file

'C:\\Users\\psydp2\\OneDrive - The University of Nottingham\\Year 2\\Group Project\\GitHub\\uon-dsda-22-y2-group-project-team-1\\investigations\\all_houses_for_sale.pickle'

In [5]:
df = pd.read_pickle(pickle_file)

In [6]:
df

,property_id,description,price,beds,baths,branch,post code,property type
0,property_2100301781,"3 bedroom End Terrace House for sale, Greening Street, London, SE2","£582,000",3,1,Abbey Wood,SE2,flat
1,property_2100301781,"3 bedroom End Terrace House for sale, Greening Street, London, SE2","£582,000",3,1,Abbey Wood,SE2,flat
2,property_2100326650,"3 bedroom Mid Terrace House for sale, Basildon Road, London, SE2","£475,000",3,1,Abbey Wood,SE2,flat
3,property_2100325739,"3 bedroom Mid Terrace House for sale, Redbourne Drive, London, SE28","£450,000",3,3,Abbey Wood,SE28,flat
4,property_2100325532,"3 bedroom Mid Terrace House for sale, Bracondale Road, London, SE2","£425,000",3,1,Abbey Wood,SE2,flat
...,...,...,...,...,...,...,...,...
4097,property_2100253095,"3 bedroom End Terrace House for sale, Byland Avenue, York, YO31","£225,000",3,1,York,YO31,flat
4098,property_2100253095,"3 bedroom End Terrace House for sale, Byland Avenue, York, YO31","£225,000",3,1,York,YO31,flat
4099,property_2100251715,"2 bedroom Flat for sale, Ashfield Court, York, YO24","£220,000",2,1,York,YO24,flat
4100,property_2100321230,"2 bedroom Semi Detached House for sale, Woodside Avenue, York, North Yorkshire, YO31","£210,000",2,1,York,YO31,flat
4101,property_2100326096,"1 bedroom Flat for sale, Amy Johnson Way, York, North Yorkshire, YO30","£150,000",1,1,York,YO30,flat

In [7]:
df['city'] = df['description'].str.split(',').str[-2].str.strip()
df['street'] = df['description'].str.split(',').str[-3].str.strip()

In [8]:
df

,property_id,description,price,beds,baths,branch,post code,property type,city,street
0,property_2100301781,"3 bedroom End Terrace House for sale, Greening Street, London, SE2","£582,000",3,1,Abbey Wood,SE2,flat,London,Greening Street
1,property_2100301781,"3 bedroom End Terrace House for sale, Greening Street, London, SE2","£582,000",3,1,Abbey Wood,SE2,flat,London,Greening Street
2,property_2100326650,"3 bedroom Mid Terrace House for sale, Basildon Road, London, SE2","£475,000",3,1,Abbey Wood,SE2,flat,London,Basildon Road
3,property_2100325739,"3 bedroom Mid Terrace House for sale, Redbourne Drive, London, SE28","£450,000",3,3,Abbey Wood,SE28,flat,London,Redbourne Drive
4,property_2100325532,"3 bedroom Mid Terrace House for sale, Bracondale Road, London, SE2","£425,000",3,1,Abbey Wood,SE2,flat,London,Bracondale Road
...,...,...,...,...,...,...,...,...,...,...
4097,property_2100253095,"3 bedroom End Terrace House for sale, Byland Avenue, York, YO31","£225,000",3,1,York,YO31,flat,York,Byland Avenue
4098,property_2100253095,"3 bedroom End Terrace House for sale, Byland Avenue, York, YO31","£225,000",3,1,York,YO31,flat,York,Byland Avenue
4099,property_2100251715,"2 bedroom Flat for sale, Ashfield Court, York, YO24","£220,000",2,1,York,YO24,flat,York,Ashfield Court
4100,property_2100321230,"2 bedroom Semi Detached House for sale, Woodside Avenue, York, North Yorkshire, YO31","£210,000",2,1,York,YO31,flat,North Yorkshire,York
4101,property_2100326096,"1 bedroom Flat for sale, Amy Johnson Way, York, North Yorkshire, YO30","£150,000",1,1,York,YO30,flat,North Yorkshire,York

## Creating Lat Long Columns

In [25]:
!pip install pgeocode

Collecting pgeocode
  Downloading pgeocode-0.4.0-py3-none-any.whl (9.7 kB)
Requirement already satisfied: numpy in c:\anaconda3\lib\site-packages (from pgeocode) (1.21.5)
Requirement already satisfied: pandas in c:\anaconda3\lib\site-packages (from pgeocode) (1.4.2)
Requirement already satisfied: requests in c:\anaconda3\lib\site-packages (from pgeocode) (2.27.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\anaconda3\lib\site-packages (from pandas->pgeocode) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda3\lib\site-packages (from pandas->pgeocode) (2021.3)
Requirement already satisfied: six>=1.5 in c:\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pgeocode) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\anaconda3\lib\site-packages (from requests->pgeocode) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\anaconda3\lib\site-packages (from requests->pgeocode) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda3\lib\site-packages (from requests->pgeocode) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda3\lib\site-packages (from requests->pgeocode) (2022.6.15)
Installing collected packages: pgeocode
Successfully installed pgeocode-0.4.0

In [26]:
import pandas as pd
from pgeocode import GeoQuery
geo = GeoQuery('UK') 
def get_lat_long(postal_code):
    location = geo.query_postal_code(postal_code)
    return location.latitude, location.longitude
df[['Latitude', 'Longitude']] = df['post code'].apply(get_lat_long)

ImportError: cannot import name 'GeoQuery' from 'pgeocode' (C:\Anaconda3\lib\site-packages\pgeocode.py)

In [15]:
df

,property_id,description,price,beds,baths,branch,post code,property type,city,street,latitude,longitude
0,property_2100301781,"3 bedroom End Terrace House for sale, Greening Street, London, SE2","£582,000",3,1,Abbey Wood,SE2,flat,London,Greening Street,-26.7271775,27.845136991983228
1,property_2100301781,"3 bedroom End Terrace House for sale, Greening Street, London, SE2","£582,000",3,1,Abbey Wood,SE2,flat,London,Greening Street,-26.7271775,27.845136991983228
2,property_2100326650,"3 bedroom Mid Terrace House for sale, Basildon Road, London, SE2","£475,000",3,1,Abbey Wood,SE2,flat,London,Basildon Road,-26.7271775,27.845136991983228
3,property_2100325739,"3 bedroom Mid Terrace House for sale, Redbourne Drive, London, SE28","£450,000",3,3,Abbey Wood,SE28,flat,London,Redbourne Drive,38.2617359,-75.9134826
4,property_2100325532,"3 bedroom Mid Terrace House for sale, Bracondale Road, London, SE2","£425,000",3,1,Abbey Wood,SE2,flat,London,Bracondale Road,-26.7271775,27.845136991983228
...,...,...,...,...,...,...,...,...,...,...,...,...
4097,property_2100253095,"3 bedroom End Terrace House for sale, Byland Avenue, York, YO31","£225,000",3,1,York,YO31,flat,York,Byland Avenue,None,None
4098,property_2100253095,"3 bedroom End Terrace House for sale, Byland Avenue, York, YO31","£225,000",3,1,York,YO31,flat,York,Byland Avenue,None,None
4099,property_2100251715,"2 bedroom Flat for sale, Ashfield Court, York, YO24","£220,000",2,1,York,YO24,flat,York,Ashfield Court,None,None
4100,property_2100321230,"2 bedroom Semi Detached House for sale, Woodside Avenue, York, North Yorkshire, YO31","£210,000",2,1,York,YO31,flat,North Yorkshire,York,None,None
4101,property_2100326096,"1 bedroom Flat for sale, Amy Johnson Way, York, North Yorkshire, YO30","£150,000",1,1,York,YO30,flat,North Yorkshire,York,None,None

## Visualisation of the data

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df['price'] = df['price'].str.replace('£', '').str.replace(',', '')

In [ ]:
def remove_rows_with_empty_values(dataframe):
    dataframe = dataframe.dropna()
    dataframe = dataframe.reset_index(drop=True)
    return dataframe

In [ ]:
df = remove_rows_with_empty_values(df)

In [ ]:
df.isna().sum()

In [ ]:
df['price'].info()

In [ ]:
non_integer_rows = df[df['price'].isna()]

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.boxplot(x='property type', y='price', data=df)
plt.xlabel('Property Type')
plt.ylabel('Price')
plt.title('Price by Property Type')

# Set y-axis scale to display actual values
plt.ticklabel_format(style='plain', axis='y')  # Display full value without scientific notation

plt.show()

In [ ]:
df['beds'] = df['beds'].astype(int)

In [ ]:
import matplotlib.pyplot as plt

sorted_df = df.sort_values('beds')
plt.scatter(sorted_df['beds'], sorted_df['price'])
plt.xlabel('Number of Bedrooms')
plt.ylabel('Price')
plt.title('Price vs. Number of Bedrooms')
plt.ticklabel_format(style='plain', axis='y')

# Set x-axis ticks as integers
plt.xticks(sorted_df['beds'].astype(int))

plt.show()

In [ ]:
column_to_remove = ['property_id','description','post code','street']
df_without_column = df.drop(column_to_remove, axis=1)

In [ ]:
df_without_column

In [ ]:
branchid = {}
for idx, name in enumerate(df_without_column['branch'].unique()):
    branchid[name] = idx
df_without_column['BranchNumber'] = df_without_column['branch'].map(branchid)

In [ ]:
property_type = {}
for idx, name in enumerate(df_without_column['property type'].unique()):
    property_type[name] = idx
df_without_column['PropertyTypeNumber'] = df_without_column['property type'].map(property_type)

In [ ]:
city = {}
for idx, name in enumerate(df_without_column['city'].unique()):
    city[name] = idx
df_without_column['CityNumber'] = df_without_column['city'].map(city)

In [ ]:
columns_to_remove = ['branch','property type','city']
df_without_column = df_without_column.drop(columns_to_remove, axis = 1)

In [ ]:
df_without_column

In [ ]:
# Correlation Heatmap
corr_matrix = df_without_column.corr()
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')
plt.show()

In [ ]:
avg_price_by_branch = df.groupby('branch')['price'].mean().reset_index()

In [ ]:
plt.figure(figsize=(100, 80))
plt.bar(avg_price_by_branch['branch'], avg_price_by_branch['price'])
plt.xlabel('Branch', fontsize=48)
plt.ylabel('Average Price', fontsize=48)
plt.title('Average Price by Branch', fontsize=48)
plt.xticks(rotation=90, fontsize=48)
plt.yticks(fontsize=48)
plt.show()