In [8]:
import pandas as pd

In [2]:
pd.set_option('display.max_colwidth', None)

In [3]:
pickle_file = r'C:\Users\psydp2\OneDrive - The University of Nottingham\Year 2\Group Project\GitHub\uon-dsda-22-y2-group-project-team-1\investigations\all_houses_for_sale.pickle'

df = pd.read_pickle(pickle_file)

In [4]:
df

,property_id,description,price,beds,baths,branch,post code,property type
0,property_2100301781,"3 bedroom End Terrace House for sale, Greening Street, London, SE2","£582,000",3,1,Abbey Wood,SE2,flat
1,property_2100301781,"3 bedroom End Terrace House for sale, Greening Street, London, SE2","£582,000",3,1,Abbey Wood,SE2,flat
2,property_2100326650,"3 bedroom Mid Terrace House for sale, Basildon Road, London, SE2","£475,000",3,1,Abbey Wood,SE2,flat
3,property_2100325739,"3 bedroom Mid Terrace House for sale, Redbourne Drive, London, SE28","£450,000",3,3,Abbey Wood,SE28,flat
4,property_2100325532,"3 bedroom Mid Terrace House for sale, Bracondale Road, London, SE2","£425,000",3,1,Abbey Wood,SE2,flat
...,...,...,...,...,...,...,...,...
4097,property_2100253095,"3 bedroom End Terrace House for sale, Byland Avenue, York, YO31","£225,000",3,1,York,YO31,flat
4098,property_2100253095,"3 bedroom End Terrace House for sale, Byland Avenue, York, YO31","£225,000",3,1,York,YO31,flat
4099,property_2100251715,"2 bedroom Flat for sale, Ashfield Court, York, YO24","£220,000",2,1,York,YO24,flat
4100,property_2100321230,"2 bedroom Semi Detached House for sale, Woodside Avenue, York, North Yorkshire, YO31","£210,000",2,1,York,YO31,flat
4101,property_2100326096,"1 bedroom Flat for sale, Amy Johnson Way, York, North Yorkshire, YO30","£150,000",1,1,York,YO30,flat

In [9]:
df['city'] = df['description'].str.split(',').str[-2].str.strip()
df['street'] = df['description'].str.split(',').str[-3].str.strip()

In [10]:
df

,property_id,description,price,beds,baths,branch,post code,property type,city,street
0,property_2100301781,"3 bedroom End Terrace House for sale, Greening Street, London, SE2","£582,000",3,1,Abbey Wood,SE2,flat,London,Greening Street
1,property_2100301781,"3 bedroom End Terrace House for sale, Greening Street, London, SE2","£582,000",3,1,Abbey Wood,SE2,flat,London,Greening Street
2,property_2100326650,"3 bedroom Mid Terrace House for sale, Basildon Road, London, SE2","£475,000",3,1,Abbey Wood,SE2,flat,London,Basildon Road
3,property_2100325739,"3 bedroom Mid Terrace House for sale, Redbourne Drive, London, SE28","£450,000",3,3,Abbey Wood,SE28,flat,London,Redbourne Drive
4,property_2100325532,"3 bedroom Mid Terrace House for sale, Bracondale Road, London, SE2","£425,000",3,1,Abbey Wood,SE2,flat,London,Bracondale Road
...,...,...,...,...,...,...,...,...,...,...
4097,property_2100253095,"3 bedroom End Terrace House for sale, Byland Avenue, York, YO31","£225,000",3,1,York,YO31,flat,York,Byland Avenue
4098,property_2100253095,"3 bedroom End Terrace House for sale, Byland Avenue, York, YO31","£225,000",3,1,York,YO31,flat,York,Byland Avenue
4099,property_2100251715,"2 bedroom Flat for sale, Ashfield Court, York, YO24","£220,000",2,1,York,YO24,flat,York,Ashfield Court
4100,property_2100321230,"2 bedroom Semi Detached House for sale, Woodside Avenue, York, North Yorkshire, YO31","£210,000",2,1,York,YO31,flat,North Yorkshire,York
4101,property_2100326096,"1 bedroom Flat for sale, Amy Johnson Way, York, North Yorkshire, YO30","£150,000",1,1,York,YO30,flat,North Yorkshire,York